* {
    scroll-behavior: smooth;

    font-family: 'Poppins';
    font-size: 10;
    user-select: none;
    margin: 0;

    /*primary colors*/
    --color-primary: #4f772d;
    --color-secondary: #90A955;
    --color-tertiary: #bccb99;
    --color-quartiary: #d2dcbb;
    --color-cinq: #d7e1c4;
    
    --color-secondary-dark: #35511f;
    --color-secondary-darkest: #111a0a;

    --color-secondary-light: #eaeaea;
    --color-secondary-lightest: #d2d2d2;
    --color-arb: #BEBDAF;
    
    /*background colors*/
    --color-backup-one: #ffffdb;
    --color-backup-two: #fff6df;
    --color-background-tertiary: #f8f4e6;

    --tooltipColour: #ffffff;

    --padding-border: 255,255,255;
}

.main{
    width: 100%;
    height: 100%;
}

#main {
    padding: 80px;
    width: 540px;
    position: absolute;
    right: calc(50% - 300px);
    transform: translateY(-50%);
    top: 50%;
    justify-content: center;

}


#padding{
    background-color: rgba(var(--padding-border),0.3);
    border: 1px solid rgba(var(--padding-border),0.6);
    backdrop-filter: blur(2px);
    height: 570px;
    width: 660px;
    position: fixed;
    right: calc(50% - 440px);
    transform: translateY(-50%);
    justify-content: center;
    top: 46%;
    padding: 20px;
}

body{
    /*background-image:url('https://wallpapercave.com/wp/wp9748255.png');*/
    background-color: var(--color-arb);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: hidden; /*hide teh scroll*/

}

a{ 
    text-decoration: none;
    color: inherit; 
}

.underline-link{
    text-decoration:underline;
}

.hover-underline-link:hover{
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
}

#s-m-t-tooltip {
    z-index: 100;
    max-width: 300px;
    letter-spacing: 0.5px;
    font-family: Poppins;
    font-size: 13px;
    padding: 4px 8px;
    margin:14px 14px 7px 12px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    color: var(--tooltipColour);
    left: 10px;
}
 
.hbtn {
    font-size: 12px;
    cursor: pointer;
    margin: 20px 10px 40px 25px;
    line-height: 20px;
    padding: 0px 10px;
    border-radius: 5px;
    transition: 0.8s;
    color: var(--color-primary);
    transform: translateX(0px);
}

.hbtn:hover {
    color: var(--color-primary);
    background-color: var(--color-cinq);
}

.hbtn-active {
    color: var(--color-secondary-darkest);
    background-color: var(--color-quartiary);
}

.hbtn-active:hover {
    color: var(--color-secondary-dark);
    background-color: var(--color-cinq);
}

.content{
    border: 20px solid var(--color-cinq);
    background-color: var(--color-cinq);
    width: 660px;
    height: 500px;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1{
    font-size: 25px;
}

h2{
    font-size:20px;
}

h3{
    font-size: 15px;
}

h4{
    font-size: 12px;
}

h5{
    font-size: 10px;
}

h6{
    font-size: 20px;
}

img {
    overflow: clip;
    overflow-clip-margin: content-box;
    display: inline-block;

}

/* SCROLLBAR FOR INDIV PAGESSS lego */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track-piece { 
    background-color: var(--color-cinq);
}  

::-webkit-scrollbar-thumb:vertical {
    width: 6px;
    border: 4px solid var(--color-secondary);
    background: var(--color-secondary);
    border-radius: 100px;
    background-clip: padding-box;   
}

.carousel{
    color: #35511f;
    font-weight: 500;
}
.wavy{
    display: inline-block;
}

.header-icon-h2{
    height: 2.7vw;
    top: 10px;
    background: rgba(0, 135, 0, 0);
    position: relative;

}