.abt-one{
    height: 500px;
}

.abt-header{
    padding-top: 8px;
    padding-bottom: 20px;
    padding-right:15px;
    height: 450px;
    width: 300px;
    float: right;
    position: relative;
}

.abt-photo{
    margin-left: 10px;
    margin-top: 10px;
    height:350px;
    width: 272px;
    float: left;
    position: relative;

}
.abt-photo img{
    height: 350px;
    width: 272.89px;
    float: left;
    background-image: url(images/profile.jpeg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolue;
}

.abt-me{
    width: 40%;
    height: 100%;
    float:right;
    left: 30px;
    margin-right: 0px;
    background-image: url(images/.png);
    position: center;
}

.abt-layout{
    width: 100px;
    height:
}


/* link config*/
.links{
    position:absolute;
    float: left;
    top: 105%;
}
  
.fa{
    display: inline-block;
    font: normal normal normal 19px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: var(--color-primary);
    padding: 5px;
  }

.fa-2x{
    font-size: 2em;
    line-height: 1em;
    vertical-align: 25%;

}

.a:hover, .fa:hover{
    color:var(--color-secondary) !important;
}

.fa-linkedin{
    content: "/f0e1";
}

.fa-github{
    content:"/f09b";
}

.container {
    width: 100%;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
.folder {
    width: min-content;
    margin: auto;
    animation: float 2s infinite linear;
    
}
  
.folder .top {
    background-color: #FF8F56;
    width: 60px;
    height: 12px;
    border-top-right-radius: 10px;
}
  
.folder .bottom {
    background-color: #FFCE63;
    width: 100px;
    height: 70px;
    box-shadow: 5px 5px 0 0 #283149;
    border-top-right-radius: 8px;
}
  
.container .title {
    font-size: .9em;
    color: #283149;
    text-align: center;
    margin-top: 15px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.exp-abt h3{
    /*
    float: left;
    text-align: center;
    margin-top: 10px;
    line-height: 160%;
    font-size: 17px;
    position: relative;
    */
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right:15px;
    height: 200px;
    width: 350px;
    float: left;
    position: relative;
}
  
@keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-25px);
    }
  
    100% {
      transform: translatey(0px);
    }
}
  
  
.num {
    margin-left: 10px;
    margin-top: 5px;
    height:200px;
    width: 150px;
    float: left;
    position: relative;
    text-align: center;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
  
